@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #00369a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background-color: #efefef;
  margin: 0 20px;
  background-image: url(../bg5.jpeg);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 0 auto;
  max-width: 768px;
}

main {
  margin: 0 auto;
  max-width: 768px;
}

h1 {
  padding: 5px 0;
  font-size: 2rem;
  color: #0a0101;
  text-align: center;
}
form {
  width: 100%;
}

input[type='search'] {
  padding: 10px 20px;
  font-size: 16px;
  border: solid 5px aqua;
  border-radius: 50px;
  outline: none;
  width: 90%;
  height: 100%;
  
}

#searchResult {
  margin-top: 2.5rem;
  color: rgb(0, 6, 6); 
}

#searchResult article {
  padding: 1;
  margin: 20px 0;
  font-size: 1.5rem;
  font-style: italic;
  color:rgb(0, 14, 14);
}

#searchResult article h2 {
  font-size: 2rem;
}

.highlight {
  background-color: #fff6ea;
  font-weight: bold;
  padding: 5px;
}
